<h1>
  List of all movies
</h1>

<%#= render partial: "zebra/giraffe" %>
<%#= render partial: "zebra/elephant", locals: { person: "Alice"} %>
<%#= render partial: "zebra/elephant", locals: { person: "Bob"} %>
<!---->
<hr>

<div>
  <%= link_to "Add a new movie", new_movie_path %>
</div>

<hr>

<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-md-3">
    <%= render movie %>
  </div>
  <% end %>
</div>
